<div class="body_content" (keyup.Enter)="board.initGame()">
	<board #board class="board">
	</board>

	<div class="left">

		<button class="huge ui inverted black basic button fluid slider checkbox">
			<sm-checkbox label="{{board.reverse ? 'Reverse Chinese Chess':'Chinese Chess'}}" [control]="chinachess"
				type="checkbox" (change)="board.changeMode() ">
			</sm-checkbox>
		</button>

		<div class="margin"></div>

		<sm-button class="fluid medium negative " icon="refresh " (click)="board.initGame() ">Restart</sm-button>

		<div class="margin"></div>

		<sm-button [disabled]="!(board.CheckLastState())" class="fluid medium teal control " icon="undo"
			(click)="board.go2PreviousState() ">Undo </sm-button>

		<div class="margin"></div>

		<sm-button [disabled]="!(board.CheckLastRedo())" class="fluid medium teal control " icon="repeat"
			(click)="board.Redo() ">Redo </sm-button>

		<hr>
		<div class="margin"></div>

		<div id="blackAgentSelection">
			<h4 class="ui horizontal divider header black"><i class="Flag icon"></i>Black</h4>
			<sm-select class="fluid" placeholder="Strategy (Greedy)"
				(change)="board.chooseBlackAgent($event.target.value) ">
				<option>0-Greedy </option>
				<option>1-ABPruning</option>
				<option>2-MCTS</option>
			
			</sm-select>
			<div class=" margin "></div>
			<sm-select class="fluid" *ngIf="board.blackAgentType==1" placeholder="Depth (2)"
				(change)="board.chooseBlackAgentDepth($event.target.value) ">
				<option>1</option>
				<option>2</option>
				<option>3</option>
				<option>4</option>
				<option>5</option>
				<option>6</option>
				<option>7</option>
			</sm-select>
			<sm-select class="fluid" *ngIf="board.blackAgentType==2" placeholder="Simulations"
				(change)="board.chooseBlackAgentDepth($event.target.value) ">
				<option>1000</option>
				<option>2000</option>
				<option>3000</option>
				<option>4000</option>
				<option>5000</option>

				<option>7000</option>
				<option>8000</option>
				<option>10000</option>
			</sm-select>
		</div>

		<hr>

		<!--input boardstate && number move  -->
		<button class="huge ui inverted black basic button fluid slider checkbox">
			<sm-checkbox label="{{board.StateFlag ? 'State Flag':'Normal'}}" [control]="flag" type="checkbox"
				(change)="board.ChangeType() ">
			</sm-checkbox>
		</button>

		<div class="margin "></div>


		<form class="ui form">
			<textarea placeholder="Nhập thế cờ..." (keyup.enter)="board.SaveState($event.target.value);" rows="3"
				class="textboxx" row="5"></textarea></form>

		<form class="ui form">
			<textarea class="textboxx" placeholder="Nhập số nước đi tối thiểu..."
				(keyup)="board.NumberMove($event.target.value);" rows="2">
				</textarea>
		</form>

		<input type="file" name="file" id="file" class="inputfile" (change)="onFileSelected($event)" />
		<button class="fluid ui large teal button" style="margin: 0" for="file">Choose a file</button>
		<!-- <button type="button" (click) = "fileInput.click()" > Pick file </button> -->

		<div class="margin"></div>
		<button class="fluid ui large teal button" type="button" (click)="onUpload()"> Upload</button>

	</div>

	<div class="clock left">
		<div class="ui black segment">{{board.blackminute}} : {{board.blacksecond}}</div>
		<div class="ui black segment">{{board.redminute}} : {{board.redsecond}}</div>
	</div>

	<div class="right ">
		<div class="ui segments">
			<div class="ui segment center aligned icon">
				<i class="paw icon"></i>
			</div>

			<div class="ui red segment">
				<h4 class="ui red" style="color:red">Red: {{board.state.redAgent.pastMoves.length}}</h4>
				<div class="nMove" *ngIf="board.state.redAgent.pastMoves.length>0 && board.state.playingTeam!=1">
					<img
						src="resource/img/pieces/1/{{board.state.redAgent.pastMoves[board.state.redAgent.pastMoves.length-1].name[0]}}.png">
					<h3>{{board.state.redAgent.pastMoves[board.state.redAgent.pastMoves.length-1].position}}</h3>
				</div>
				
			</div>

			<div class="ui black segment">
				<h4 class="ui  black">Black: {{board.state.blackAgent.pastMoves.length}}</h4>
				<div class="nMove" *ngIf="board.state.blackAgent.pastMoves.length>0 && board.state.playingTeam==1">
					<img
						src="resource/img/pieces/-1/{{board.state.blackAgent.pastMoves[board.state.blackAgent.pastMoves.length-1].name[0]}}.png">
					<h3>{{board.state.blackAgent.pastMoves[board.state.blackAgent.pastMoves.length-1].position}}</h3>
				</div>
				<div *ngIf="board.state.playingTeam!=1 && board.state.endFlag==null"
					class="ui active centered inline loader ">
				</div>
			</div>



		</div>

		<br>

		<button *ngIf="board.state.getEndState()==false && board.state.checkMate()==true" id="demo" class="btn"
			style="border-radius: 50%;height:150px; width: 100%;font-size: 20;background-color: red; color: white;">
			CHIẾU
			TƯỚNG</button>
		<div class="ui segments" *ngIf="board.state.endFlag!=null">
			<div class="ui segment center aligned icon">
				<i *ngIf="board.state.endFlag == 1" class="circular flag red icon"></i>
				<i *ngIf="board.state.endFlag != 1" class="circular flag black icon"></i>
				<h4 class="ui aligned center red" style="color:red">{{board.state.endFlag==0? 'DRAW' : 'WIN'}}</h4>
			</div>
			<div class="ui red segment center aligned">
				<img *ngIf="board.state.endFlag >=0" src="resource/img/pieces/1/k.png" alt="">
				<img *ngIf="board.state.endFlag <=0" src="resource/img/pieces/-1/k.png" alt="">
			</div>
		</div>
	</div>

</div>