#t {
  font-size: 150px;
}

.left,
.right {
  float: top;
  height: 100%;
  display: inline-block;
  margin: 10px;
}

.left {
  float: left;
  width: 15%;
}

.right {
  float: right;
  width: 13%;
}

.header h1 {
  /*margin-left: 18%;*/
  color: white;
  width: 100%;
  margin: auto;
}

.title {
  margin-left: 1em;
}

.separator {
  color: #f8f6ea;
  margin-left: 1em;
}

.board {
  width: 50%;
  display: inline-block;
  padding: 10px;
}

.body_content {
  padding-top: 8px;
}

.margin {
  height: 1em;
}

.simu_num {
  font-style: bold;
  font-size: 2em;
  color: red;
}

.nMove {
  margin: auto;
  text-align: center;
  width: 100%;
  display: block;
}

.textboxx {
  width: 100%;
}

.textbox2 {
  border-radius: 10px;
  border: 7px solid rgb(216, 5, 23);
  width: 250px;
  height: 50px;
}

.clock {
  width: 10%;
  margin: 10px 40px 0px 40px;
}

#blackclock{
  position: relative;
  top: 210px;
}

#redclock {
  position: relative;
  top: 300px;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}