<div class="body_content" (keyup.Enter)="board.initGame()">
	<board #board class="board">
	</board>

	<div class="left">

		<sm-button class="huge ui inverted black basic fluid slider checkbox">
			<sm-checkbox label="{{board.reverse ? 'Reverse Chinese Chess':'Chinese Chess'}}" [control]="chinachess"
				type="checkbox" (change)="board.changeMode() ">
			</sm-checkbox>
		</sm-button>

		<div class="margin"></div>

		<sm-button class="fluid medium negative" icon="refresh" (click)="board.initGame() ">Restart</sm-button>

		<div class="margin"></div>

		<sm-button [disabled]="!(board.CheckLastState())" class="fluid medium teal control " icon="undo"
			(click)="board.go2PreviousState()">Undo </sm-button>

		<div class="margin"></div>

		<sm-button [disabled]="!(board.CheckLastRedo())" class="fluid medium teal control " icon="repeat"
			(click)="board.Redo()">Redo </sm-button>

		<hr>
		<div class="margin"></div>

		<div id="blackAgentSelection">
			<h4 class="ui horizontal divider header black"><i class="Flag icon"></i>Black</h4>
			<sm-select class="fluid" placeholder="Strategy (Greedy)"
				(change)="board.chooseBlackAgent($event.target.value) ">
				<option>0-Greedy </option>
				<option>1-ABPruning</option>
				<option>2-MoveReorder</option>
				<option>3-TDLeaner</option>
				<option>4-TDLean(Trained)</option>
				<option>5-MCTS</option>
				<option>6-Ultimate</option>
			</sm-select>

			<div class=" margin "></div>

			<sm-select class="fluid" *ngIf="board.blackAgentType>0 && board.blackAgentType!=5" placeholder="Depth (2)"
				(change)="board.chooseBlackAgentDepth($event.target.value) ">
				<option>1</option>
				<option>2</option>
				<option>3</option>
				<option>4</option>
				<option>5</option>
				<option>6</option>
				<option>7</option>
			</sm-select>

			<sm-select class="fluid" *ngIf="board.blackAgentType==5" placeholder="Simulations"
				(change)="board.chooseBlackSimulations($event.target.value) ">
				<option>1000</option>
				<option>2000</option>
				<option>3000</option>
				<option>4000</option>
				<option>5000</option>
			</sm-select>
		</div>

		<hr>

		<!--input boardstate && number move  -->
		<sm-button class="huge ui inverted black basic fluid slider checkbox">
			<sm-checkbox label="{{board.StateFlag ? 'State Flag':'Normal'}}" [control]="flag" type="checkbox"
				(change)="board.ChangeType()">
			</sm-checkbox>
		</sm-button>

		<div class="margin "></div>


		<form class="ui form">
			<textarea placeholder="Nhập thế cờ..." (keyup.enter)="board.SaveState($event.target.value);" rows="3"
				class="textboxx"></textarea></form>

		<form class="ui form">
			<textarea placeholder="Nhập số nước đi tối thiểu..." (keyup)="board.NumberMove($event.target.value);"
				rows="2" class="textboxx"></textarea></form>

		<input type="file" name="file" id="file" class="inputfile" (change)="onFileSelected($event)" />
		<sm-button class="fluid ui large teal" style="margin: 0" for="file">Choose a file</sm-button>
		<!-- <button type="button" (click) = "fileInput.click()" > Pick file </button> -->

		<div class="margin"></div>
		<sm-button class="fluid ui large teal" (click)="onUpload()"> Upload</sm-button>
	</div>


	<!-- countdown for each player -->
	<div class="clock left">
		<div id="blackclock">
			<sm-button class="ui teal fluid" (click)='startTimer()'>Start Timer</sm-button>
			<div class="ui black segment">{{minute}} : {{second}}</div>
		</div>

		<div id="redclock">
			<sm-button class="ui teal fluid" (click)='startTimer()'>Start Timer</sm-button>
			<div class="ui red segment">{{minute}} : {{second}}</div>
		</div>
	</div>

	<div class="right">
		<div class="ui segments">
			<div class="ui segment center aligned icon">
				<i class="large user icon"></i>
			</div>

			<div class="ui black segment ">
				<h4 class="ui black header center aligned">Black: {{board.state.blackAgent.pastMoves.length}}</h4>
				<div class="nMove" *ngIf="board.state.blackAgent.pastMoves.length>0 && board.state.playingTeam==1">
					<img
						src="resource/img/pieces/-1/{{board.state.blackAgent.pastMoves[board.state.blackAgent.pastMoves.length-1].name[0]}}.png">
					<h3 class="ui black header">
						{{board.state.blackAgent.pastMoves[board.state.blackAgent.pastMoves.length-1].position}}</h3>
				</div>
				<div *ngIf="board.state.playingTeam!=1 && board.state.endFlag==null"
					class="ui active centered inline loader ">
				</div>
			</div>

			<div class="ui red segment">
				<h4 class="ui red header center aligned">Red: {{board.state.redAgent.pastMoves.length}}</h4>
				<div class="nMove" *ngIf="board.state.redAgent.pastMoves.length>0 && board.state.playingTeam!=1">
					<img
						src="resource/img/pieces/1/{{board.state.redAgent.pastMoves[board.state.redAgent.pastMoves.length-1].name[0]}}.png">
					<h3 class="ui red header">
						{{board.state.redAgent.pastMoves[board.state.redAgent.pastMoves.length-1].position}}</h3>
				</div>
				<div *ngIf="board.state.playingTeam==1 && board.state.endFlag==null && !board.humanMode && board.simulation_state==1 "
					class="ui active centered inline loader "></div>
			</div>
		</div>

		<br>

		<sm-button *ngIf="(board.state.getEndState() || board.state.checkMate()==true) && board.state.endFlag==null"
			id="demo" class="btn"
			style="border-radius: 50%;height:150px; width: 100%;font-size: 20;background-color: red; color: white;">CHIẾU
			TƯỚNG
		</sm-button>

		<div class="ui segments" *ngIf="board.state.endFlag!=null">
			<div class="ui segment center aligned icon">
				<i *ngIf="board.state.endFlag == 1" class="massive trophy red icon"></i>
				<i *ngIf="board.state.endFlag != 1" class="massive trophy black icon"></i>
				<h1 class="ui aligned center red header">{{board.state.endFlag==0? 'DRAW' : 'WIN'}}</h1>
			</div>

			<div class="ui red segment center aligned">
				<img *ngIf="board.state.endFlag >=0" src="resource/img/pieces/1/k.png" alt="">
				<img *ngIf="board.state.endFlag <=0" src="resource/img/pieces/-1/k.png" alt="">
			</div>
		</div>
	</div>

</div>