@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }

  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }

  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }

  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }

  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }

  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }

  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }

  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }

  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }

  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }

  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

#t {
  font-size: 150px;
}

.left,
.right {
  float: top;
  height: 100%;
  display: inline-block;
  margin: 10px;
}

.left {
  float: left;
  width: 15%;
}

.right {
  float: right;
  width: 13%;
  position: relative;
  top: 150px;
}

.header h1 {
  /*margin-left: 18%;*/
  color: white;
  width: 100%;
  margin: auto;
}

.title {
  margin-left: 1em;
}

.separator {
  color: #f8f6ea;
  margin-left: 1em;
}

.board {
  width: 50%;
  display: inline-block;
  padding: 10px;
}

.body_content {
  padding-top: 8px;
}

.margin {
  height: 1em;
}

.simu_num {
  font-style: bold;
  font-size: 2em;
  color: red;
}

.nMove {
  margin: auto;
  text-align: center;
  width: 100%;
  display: block;
}

.textboxx {
  width: 100%;
}

.textbox2 {
  border-radius: 10px;
  border: 7px solid rgb(216, 5, 23);
  width: 250px;
  height: 50px;
}

.clock {
  margin: 10px 20px 0px 40px;
}

#blackclock {
  position: relative;
  top: 150px;
}

#redclock {
  position: relative;
  top: 400px;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.cm_func {
  width: 100%;
  line-height: 150px;
  font-size: 23px;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  color: #ffffff;
  border-radius: 30px;
  position: relative;
  top: 130px;
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

#cm_r {
  background-color: rgba(255, 68, 68, 0.95);
}

#cm_b {
  background-color: rgba(0, 0, 0, 0.95);
}
