.log {
  width: 80%;
  margin: 100px auto;
  padding: 50px;
  padding-top: 0px;
}

.margin {
  height: 1em;
}

tr,
td {
  text-align: center;
}

#notaion {
  font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  padding: 1em;
}
